**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.user
**/.DS_Store
**/node_modules
**/storage
**/.env
**/Thumbs.db
**/.dockerignore
**/docker-compose*.yml
**/Dockerfile*
**/.editorconfig
**/*.md